<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)

    <!-- JS dependencies -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>

    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.TreeList }
)

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    </head>
<body>

    @Html.DevExpress().Panel(settings =>
{
    settings.Name = "HeaderPane";
    settings.FixedPosition = PanelFixedPosition.WindowTop;
    settings.Collapsible = true;
    settings.SettingsCollapsing.ExpandButton.Visible = true;
    settings.SettingsCollapsing.AnimationType = AnimationType.Slide;
    settings.SettingsAdaptivity.CollapseAtWindowInnerWidth = 500;
    settings.ControlStyle.CssClass = "headerPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.Styles.ExpandBar.CssClass = "bar";
    settings.SetContent(() =>
    {
        Html.RenderPartial("HeaderPartialView");
    });
}).GetHtml()

    @Html.DevExpress().Panel(settings =>
{
    settings.Name = "MainPane";
    settings.ControlStyle.CssClass = "mainContentPane";
    settings.SetContent(RenderBody().ToHtmlString());
}).GetHtml()

    @*@Html.DevExpress().Panel(settings =>
{
    settings.Name = "FooterPane";
    settings.FixedPosition = PanelFixedPosition.WindowBottom;
    settings.SettingsAdaptivity.HideAtWindowInnerWidth = 500;
    settings.ControlStyle.CssClass = "footerPane";
    settings.Styles.Panel.CssClass = "panel";
    settings.SetContent(() =>
    {
        Html.RenderPartial("FooterPartialView");
    });
}).GetHtml()*@


</body>
</html>