<script type="text/javascript">

    @*$(function () {
        if ('@(ViewBag.ListPhanHe)' != '') {
            $("#ListCacPhanHe").html('@(Html.Raw(Html.DropDownList("NameListPhanHe", new SelectList(ViewBag.ListPhanHe, "TenPhanHe", "TenPhanHe"),new { @id = "SelectListPhanHe", @class= "form-control" }).ToString().Replace("\r\n"," ")))');
        }
    });*@


    //Hàm lấy các node đang được check ở tree Menu
    var selectedIDs = "";
    function MenuTreeOnSelectionChanged(s, e) {
        MenuTreeList.GetSelectedNodeValues("Menu_Id", GetSelectedNodesValuesCallback);
    }
    function GetSelectedNodesValuesCallback(values) {
        selectedIDs = values.join(',');
    }
    var SelectedPhanHeID;

    function getval(sel) {
        SelectedPhanHeID = sel.value;
    }


    //Hàm bật dialog chọn Phân hệ cho menu
    function OnSubmitClick(s, e) {
        if (selectedIDs != "") {
            bootbox.dialog({
                title: "Chọn phân hệ muốn gán cho các menu đã chọn:",
                message: $("#ListCacPhanHe").html(),
                buttons: {
                    success: {
                        label: "Lưu lại",
                        className: "btn-success",
                        callback: function () { 
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("SetPhanHeToListMenuIDs")",
                                data: {
                                    selectedIDs: selectedIDs,
                                    PhanHeId: SelectedPhanHeID
                                },
                                success: function (response) {
                                    $("#container").html(response);
                                    toastr.success('Đã lưu vào cơ sở dữ liệu thành công!', 'Thông báo');
                                    selectedIDs = "";
                                }
                            });
                        }
                    }
                }
            });
        }
        else {
            toastr["error"]("Bạn chưa chọn menu cần gán phân hệ.");
        }
    }



</script>
<table>
    <tr>
        <td style="white-space: nowrap;">

            @Html.Partial("_TreeListCommandPanel", new DANN.Web.Models.CommandPanelOptions
       {
           controlIndex = 1,
           controlName = "MenuTreeList",
           Add = true,
           Edit = true,
           Delete = true,
           Save = true,
           Cancel = true,
           Reload = true,
           Print = true,
           CondictionToAutoSave = "$('#MenuTreeList_DXEDITOR0_I').val() != ''&& $('#MenuTreeList_DXEDITOR0_I').val() != ''",
       })
        </td>
        <td align="left">
            @Html.DevExpress().Button(myButton =>
                   {
                       myButton.Name = "btnGanPhanHeChoMenu";
                       myButton.Text = "Gán phân hệ";
                       myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                       myButton.Images.Image.Url = "~/Content/icon/16/BOPosition2_16x16.png";
                       myButton.ToolTip = "Gán tên phân hệ cho các menu đã chọn bên dưới.";
                       myButton.ClientSideEvents.Click = "OnSubmitClick";
                       myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                   }).GetHtml()

          
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="container">@Html.Action("LoadMenu")</div> 

            <div id="ListCacPhanHe" style="display:none;">
                @(Html.Raw(Html.DropDownList("NameListPhanHe",
                                                              new SelectList(Session["ListPhanHe"] != null ?
                                                              (List<DANN.Model.DM_PhanHe>)Session["ListPhanHe"] :
                                                              new List<DANN.Model.DM_PhanHe>(), "PhanHe_Id", "TenPhanHe"),
                                                              new { @id = "SelectListPhanHe", @class = "form-control", @onchange ="getval(this)" }).ToString().Replace("\r\n", "")))
        </div>

        </td>
    </tr>
</table>